*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


.idea/
gradle/
gradlew
gradlew.bat


# built application files
*.apk
*.ap_

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# Local configuration file (sdk path, etc)
local.properties
#gradle configuration file (http proxy, etc)
#gradle.properties